<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html.twig' %}
    {% block js_head %}{% endblock %}
  </head>

  <body>
    <header>
      {% include 'main_header.html.twig' %}
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      {% include 'main_footer.html.twig' %}
    </footer>
    {% block js_body %}
      {% include 'main_js.html.twig' %}
    {% endblock %}
  </body>
</html>
